<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Copia_De_Respaldo.Properties.Settings.primeroConnectionString"
            connectionString="Data Source=GUSTAVO;Initial Catalog=primero;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Copia_De_Respaldo.Properties.Settings.VPS_EjerciciosConnectionString"
            connectionString="Data Source=GUSTAVO;Initial Catalog=VPS_Ejercicios;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>